.donation-meter {
    margin-left: 30px;
    width: 100px;
}

.donation-meter .glass {
    background: #e5e5e5;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 300px;
    margin: 0 35px 10px;
    padding: 5px;
    position: relative;
    width: 20px;
    box-shadow: 2px 7px 15px gray;
}

.donation-meter .amount {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    width: 20px;
    position: absolute;
    bottom: 5px;
    height: 50%;
    transition: height 1s;
    transition: background 1s;
}

.donation-meter strong {
    display: block;
    text-align: center;
}

.donation-meter .goal {
    font-size: 30px;
}

.donation-meter .tempText {
    font-size: 20px;
    position: absolute;
    right: 40px;
    bottom: 50%;
    transition: bottom 1s;
}

.bulb {
    background: #e5e5e5;
    border-radius: 100px;
    display: block;
    height: 50px;
    margin: 0 35px 10px;
    padding: 5px;
    position: relative;
    top: -20px;
    right: 15px;
    width: 50px;
    box-shadow: 3px 7px 10px gray;
}

.bulb .red-circle {
    background: #f34e54;
    border-radius: 100px;
    display: block;
    height: 50px;
    width: 50px;
    transition: background 1s;
}

.bulb .filler {
    background: #f34e54;
    border-radius: 100px 100px 0 0;
    display: block;
    height: 30px;
    width: 20px;
    position: relative;
    top: -65px;
    right: -15px;
    z-index: 30;
    transition: background 1s;
}
